<div class="flex flex-end">
  <!-- prettier-ignore -->
  <button id="dropdownDelayButton" data-dropdown-toggle="dropdownDelay-1" data-dropdown-delay="500" data-dropdown-trigger="hover" class="ml-auto m-10 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
    Show actions only
    {{request.args.get('sort',"")}}
    <!-- prettier-ignore -->
    <svg class="w-4 h-4 ml-auto" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path> </svg>
</button>

  <!-- Dropdown menu -->
  <!-- prettier-ignore -->
  <div id="dropdownDelay-1" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDelayButton">
        <!-- prettier-ignore -->
        <li>
            <a href="?sort=CREATE" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" >
            CREATE
            </a >
        </li>
        <li>
            <a href="?sort=EDIT" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" >
           EDIT
            </a>
        </li>
        <li>
        <a href="?sort=DELETE" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" >
            DELETE
        </a >
        </li>
                <li>
        <a href="?" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" >
            Show ALL
        </a >
        </li>
    </ul>
</div>
  <button
    id="dropdownDelayButton"
    data-dropdown-toggle="dropdownDelay-2"
    data-dropdown-delay="500"
    data-dropdown-trigger="hover"
    class="m-10 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    type="button">
    Show entities only {{request.args.get('entity',"")}}
    <!-- prettier-ignore -->
    <svg class="w-4 h-4 ml-auto" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path> </svg>
  </button>

  <!-- Dropdown menu -->
  <!-- prettier-ignore -->
  <div id="dropdownDelay-2" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDelayButton">
        <!-- prettier-ignore -->
        <li>
            <a href="?entity=ADMIN" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" >
            ADMIN
            </a >
        </li>
        <li>
            <a href="?entity=CASE" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" >
           CASES
            </a>
        </li>
        <li>
        <a href="?entity=QUESTION" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" >
            QUESTION
        </a >
        </li>
        <li>
        <a href="?entity=CANDIDATE" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" >
            CANDIDATE
        </a >
        </li>
                <li>
        <a href="?" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" >
            Show ALL
        </a >
        </li>
    </ul>
</div>
</div>
