# ignore directories
__pycache__/
env/
.venv/
.pytest_cache/
node_modules/

# ignore files
.env
*.pyc
/*.sqlite3

# IOS
.DS_Store
*/.DS_Store
*/.vscode

# firebase credentials
firebase_credentials.json

.mypy_cache 
