<!-- Edit user modal -->
<!-- prettier-ignore-->
<div id="caseEditModalElement" tabindex="-1" aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <form action="{{url_for('case.update_case')}}" method="POST" enctype="multipart/form-data"
      class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      {{ form.hidden_tag() }}
      <input id="caseIdEdit" type="hidden" name="case_id" value="" />
      <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white"> Edit case </h3>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
            <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title<span
                class="text-red-500">*</span></label>
            <input id="edit-case-title" type="text" name="title"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Title" />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="sub_title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sub title<span class="text-red-500">*</span></label>
            </label>
            <input id="edit-case-sub-title" type="text" name="sub_title"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Sub title"  />
          </div>
          <div class="col-span-6 sm:col-span-3 "><img id="edit-case-main-image" class="max-h-48" src="" alt=""></div>
          <div class="col-span-6 sm:col-span-3 "><img id="edit-case-preview-image" class="max-h-48" src="" alt=""></div>
          <div class="col-span-6 sm:col-span-3">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              title="This image will be displayed on the Case single page">Upload main
              image<span class="text-red-500">*</span></label>
            <input id="edit-case-main-image-input" type="file" name="main_image"  accept="image/*">
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              title="This image will be displayed in the lists of Cases">Upload preview image<span
                class="text-red-500">*</span></label>
            <input id="edit-case-sub-main-image-input" type="file" name="preview_image"  accept="image/*">
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="description"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description<span
                class="text-red-500">*</span></label>
            <input id="edit-case-description" type="text" name="description"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Description"  />
          </div>
          <div class="col-span-6 sm:col-span-3 flex justify-evenly">
            <label for="is_active" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              title="Will Case be displayed on the site">Is
              active</label>
            <input id="edit-case-is-active" type="checkbox" name="is_active"
              class="shadow-sm bg-gray-50 border border-gray-300 text-green-500 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" />
            <label for="is_main" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              title="Will the Item be displayed on the main page of the site (or only in Cases)">Is main</label>
            <input id="edit-case-is-main" type="checkbox" name="is_main"
              class="shadow-sm bg-gray-50 border border-gray-300 text-green-500 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" />
          </div>
          <div class="col-span-full">
            <label for="project_link" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Project
              link<span class="text-red-500">*</span></label>
            <input id="edit-case-project-link" type="url" pattern="https://.*" name="project_link"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="https://some.com" />
          </div>
          <div class="col-span-full">
            <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Our
              role<span class="text-red-500">*</span></label>
            <input id="edit-case-role" type="role" name="role"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Type here"  />
          </div>
          <div class="col-span-full">
            <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stacks</label>
            <div id="edit-case-stacks"
              class="max-h-24 p-2.5 overflow-y-auto shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {{ form.stacks }}
            </div>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              title="Screenshots of the current Case will be displayed on its page">Upload screenshots<span
                class="text-red-500">*</span></label>
            <input type="file" name="screenshots" multiple accept="image/*">
          </div>
          <div id="edit-case-screenshots" class="col-span-6 sm:col-span-3 overflow-x-scroll h-52 p-4"></div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button name="submit" type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Save </button>
      </div>
    </form>
  </div>
</div>
